In [1]:
from utils import TestResults,TrainSplit
import gc

In [2]:
import pandas as pd
data = pd.read_csv("../Data/miss_combine.csv")

In [3]:
data.head()

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_72,f_73,f_74,f_75,f_76,f_77,f_78,f_79,is_clicked,is_installed
0,2541275,49,30131,7152,16170,25604,25613,27941,21218,869,...,3.426729,0.571121,0.115692,1.156922,0.269948,0.0,0.000000,0.0,1,1
1,2541956,49,20095,563,22861,25604,22651,27941,19203,869,...,0.571121,0.571121,0.115692,1.156922,0.269948,0.0,0.000000,0.0,0,0
2,2542133,55,20095,563,22861,25604,21280,27941,21621,23218,...,0.000000,0.000000,0.000000,1.156922,0.038564,0.0,0.000000,0.0,0,1
3,2542375,57,17758,22294,29040,25604,15836,27941,21218,21533,...,5.711215,2.284486,0.115692,1.156922,0.269948,0.0,0.000000,0.0,0,0
4,2542442,47,11077,7152,18575,15908,16861,27941,21218,9638,...,1.142243,0.000000,0.038564,1.156922,0.269948,0.0,37.384575,0.0,0,0

In [4]:
data.loc[data['f_30'].isnull(),'f_30'] = 3
data.loc[data['f_31'].isnull(),'f_31'] = 3

In [5]:
fmiss = "f_43,f_51,f_58,f_59,f_64,f_65,f_66,f_67,f_68,f_69,f_70".split(',')
for f in fmiss:
    data[f].fillna(data[f].mean(),inplace=True)

In [6]:
feat_num_map = dict()
for i in range(2,43):
    out = data.groupby(f'f_{i}')[TrainSplit.IS_INSTALLED[0]].mean()
    temp = dict()
    for clas,prob in out.items():
        temp[clas]=prob
    feat_num_map[f"f_{i}"] = temp

In [7]:
from tqdm import tqdm

In [8]:
for i in tqdm(range(2,43),desc="replace"):
    data[f'f_{i}'].replace(feat_num_map[f'f_{i}'],inplace=True)
    gc.collect()

replace: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 41/41 [02:21<00:00,  3.45s/it]

In [9]:
data.to_csv("../Data/imputed_data.csv")

In [10]:
del data

In [11]:
gc.collect()

0